/**
 * partials/header
 * ---
 */


// Header container
.header {
    /*height: 28vh;*/
    background-color: #556443;
    margin:0px;
    padding:0px;
}

// Logo
.logo {
}

.logo-img {
    height: 18vh;
}
