/**
 * partials/header
 * ---
 */


// Header container
.header {
    /*height: 28vh;*/
    background-color: #D82828;
    margin:0px;
    padding:0px;
}

// Logo
.logo {
}

.logo-img {
    padding:18px;
    width:300px;
}
