/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$font-size-base: 140%;
$line-height-base: 1.5;


/**
 * Colors
 */

$text-color: #444;
$body-bg: #fff;
$selection-bg: #04A4CC;


/**
 * Grid
 */

$wrapper-width: 100%;


$padding-horizontal-base: 0px;
$padding-vertical-base: 0px;
$margin-horizontal-base: 0px;
$margin-vertical-base: 0px;
$margin-horizontal-large: 0px;
$margin-vertical-large: 0px;
